* {
  padding: 0;
  margin: 0;
}

body,
header {
  height: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  background-color: #24252b;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
nav {
  display: flex;
  background-color: #24252b;
  justify-content: space-around;
  /* padding: 20px 0; */
  height: 50px;
  align-items: center;
}

nav .logo {
  color: #6366f1;
  letter-spacing: 3px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
}

nav ul li a:hover {
  color: #6366f1;
}
/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #f5f5f5;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger menu animasi */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* responsive breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #24252b;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
}

/* jumbtoron */
.jumbotron {
  padding: 100px;
}

.jumbotron .container {
  display: flex;
  justify-content: space-between;
}

.jumbotron .container .awal {
  align-items: center;
  margin: auto;
}

.jumbotron .container .fotopribadi {
  align-items: center;
  margin: auto;
}

.jumbotron .container h1 {
  font-size: 30px;
  color: #f5f5f5;
}

.jumbotron .container h1 span {
  color: #6366f1;
}

.jumbotron .container p {
  font-style: italic;
  font-size: 20px;
  color: #f5f5f5;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.fotopribadi img {
  width: 500px;
  height: auto;
  /* position: absolute; */
  bottom: 1px;
  z-index: -999;
}

.container .button {
  background: #6366f1;
  border-radius: 5px;
  padding: 10px 18px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}

.container .button:hover {
  background: transparent;
  color: white;
  border: 1px solid #6366f1;
}

/* About */
.about {
  padding: 50px 0;
}

.about img {
  height: auto;
  width: 290px;
  border-radius: 20px;
  margin-left: 40px;
}

.about-text {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about h2 {
  font-size: 40px;
  color: #6366f1;
  margin: 50px 0;
  text-align: center;
  text-shadow: 2px 3px 2px black;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.about-text p {
  color: #f5f5f5;
  letter-spacing: 1px;
  line-height: 20px;
  font-size: 18px;
  margin-bottom: 100px;
}

.about-text a i {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding-bottom: 100px;
}

/* Skills */
.skills {
  padding: 50px 0;
  height: 300px;
}

.skills h2 {
  font-size: 40px;
  color: #6366f1;
  margin: 30px 0;
  text-align: center;
  text-shadow: 2px 3px 2px black;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.myskills p {
  font-size: 20px;
  color: #f5f5f5;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.myskills p span {
  color: #6366f1;
}

.iconskills {
  display: flex;
  justify-content: center;
}

.iconskills img {
  height: 110px;
  width: auto;
  float: left;
  margin-right: auto;
  margin-left: auto;
}

/* Projects */
.projects {
  padding: 30px 0;
  /* height: 300px; */
}

.projects h2 {
  font-size: 40px;
  color: #6366f1;
  margin: 30px 0;
  text-align: center;
  text-shadow: 2px 3px 2px black;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
  display: flex;
  justify-content: center;
}

.row:after {
  display: table;
  clear: both;
}

.card {
  box-shadow: 1px 1px 8px 0 rgba(99, 102, 241, 1); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.card img {
  height: 90%;
  width: 90%;
}

.card-body p {
  text-align: justify;
}

/* contact */
.contact {
  padding: 30px 0;
  /* margin-top: 150px; */
}

.contact h2 {
  font-size: 40px;
  color: #6366f1;
  margin: 30px 0;
  text-align: center;
  text-shadow: 2px 3px 2px black;
  letter-spacing: 2px;
  text-transform: capitalize;
}

form {
  width: 350px;
  margin: 0 auto;
  text-align: left;
  color: white;
}

form label {
  display: block;
  margin-bottom: 0.5em;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 90%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 10px;
}

form textarea {
  height: 200px;
  border-radius: 10px;
}

form button[type="submit"] {
  background-color: #6366f1;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
}

/* footer */
.footer {
  background-color: #6366f1;
  padding: 10px;
  box-shadow: 3px 5px 5px rgb(0, 0, 0, 0.4);
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 13px;
}
